@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-3">
    <h2>Adress Book</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Delete</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Contacts.Count() != 0)
            {
                @foreach (var contact in Model.Contacts)
                {
                    <tr>
                        <td><a asp-controller="Home" asp-action="GetContact" asp-route-id=@contact.Id>@contact.FirstName</a></td>
                        <td><a asp-controller="Home" asp-action="GetContact" asp-route-id=@contact.Id>@contact.LastName</a></td>
                        <td>
                            <form asp-controller="Home" asp-action="Delete" asp-route-id=@contact.Id method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form asp-controller="Home" asp-action="GetContact" asp-route-id=@contact.Id method="get">
                                <button type="submit" class="btn btn-info">Details</button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>There is no contacts in your adress book</td>
                </tr>
            }
        </tbody>
    </table>
</div>
